{% extends 'base.html.twig' %}

{% block title %}Blocs{% endblock %}

{% block body %}

   {{ block("MenuTop", "Menus/MenuTop.html.twig") }}
   <div class="app-main">
    {{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


 <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="lnr-users icon-gradient bg-strong-bliss"></i>
                                </div>
                                <div>Blocs
                                    <div class="page-title-subheading">Gestion des blocs</div>
                                </div>
                            </div>
                           <div class="page-title-actions">
                        
                            <div class="d-inline-block dropdown">
                            <a href="{{ path('app_blocs_new') }}">
                                <button  class="btn-shadow btn btn-success">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-plus fa-w-20"></i>
                                    </span>
                                    Ajouter un bloc
                                </button>
                               </a>
                            </div>
                        </div>
                        </div>
                    </div>
               
                    <div class="tabs-animation"> 
                     <div class="main-card mb-3 card">
    <div class="card-body">
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">

            <div class="row">
                <div class="col-sm-12">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
                        <thead>
                            <tr role="row">
   
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 233.2px;" aria-label="Position: activate to sort column ascending">Nom</th>
                               <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 233.2px;" aria-label="Position: activate to sort column ascending">Classe</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 233.2px;" aria-label="Position: activate to sort column ascending">Date de création</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 233.2px;" aria-label="Position: activate to sort column ascending">Créé par</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 110.2px;" aria-label="Start date: activate to sort column ascending">actions</th>
              
            
                            </tr>
                        </thead>
                        <tbody>

                            {% for bloc in blocs %}
                                <tr role="row" class="odd">
                         
                                    <td class="sorting_1 dtr-control"><a href="{{ path('app_blocs_show', {'id': bloc.id}) }}"> {{ bloc.nom }} </a></td>
                                    <td class="sorting_1 dtr-control">

                                    <a href="{{ path('app_classes_show', {'id': bloc.classe.id}) }}">{{ bloc.classe.nom }}</a>
                                    
                                    </td>
                                    <td class="sorting_1 dtr-control">

                                    <a href="{{ path('app_blocs_show', {'id': bloc.id}) }}">{{ bloc.createdAt|date('d-m-Y H:i') }}</a>
                                    
                                    </td>

                                    <td class="sorting_1 dtr-control">
                                   <a href="{{ path('app_users_show', {'id': bloc.user.id}) }}"> {{ bloc.createdBy }}</a>
                                    
                                    </td>
                                    
                                    <td class="sorting_1 dtr-control">
                                        
                                        <a href="{{ path('app_blocs_edit', {'id': bloc.id}) }}"><button class="mb-2 mr-2 btn-icon btn-pill btn btn-link" ><i class="pe-7s-tools btn-icon-wrapper"> </i>Modifier</button></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr role="row" class="odd">
                                    <td class="sorting_1 dtr-control" colspan="6">no records found</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                 
                    </table>
                </div>
            </div>
    
    
        </div>
    </div>
</div>
                    
         
                     
                    </div>
                    
                </div>
   
    </div> 
    </div>
     {{ block("Footer", "Menus/Footer.html.twig") }}

{% endblock %}




