{% extends 'base.html.twig' %}

{% block title %}Intervenants{% endblock %}

{% block body %}
  {{ block("MenuTop", "Menus/MenuTop.html.twig") }}
   <div class="app-main">
    {{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}
    <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="lnr-users icon-gradient bg-strong-bliss"></i>
                                </div>
                                <div> {{ etudiant.nom }} {{ etudiant.prenom }} 
                                    <div class="page-title-subheading" style="opacity: 1;">
                                 
                                     Créée Le {{ etudiant.createdAt ? etudiant.createdAt|date('Y-m-d H:i') : '' }} Par {{ etudiant.createdBy }}
                                    </div>
                                </div>
                            </div>
                           <div class="page-title-actions">
                        
                            <div class="d-inline-block dropdown">
                            <a href="{{ path('app_etudiants_index') }}">
                               <button  class="mb-2 mr-2 btn btn-shadow btn-outline-2x btn-outline-secondary">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use arrow-circle-left"></i>
                                    </span>
                                    Retour à la liste
                                </button>
                                
                               </a>
                                 <a href="{{ path('app_etudiants_edit',{id:etudiant.id}) }}">
                                <button  class="mb-2 mr-2 btn-outline-2x btn btn-shadow-warning btn-outline-warning">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-fw" aria-hidden="true" title="Copy to use edit"></i>
                                    </span>
                                    Modifier
                                </button>
                                </a>
                                
                                {{ include('etudiants/_delete_form.html.twig') }}

                            </div>
                        </div>
                        </div>
                    </div>
               
           <div class="tabs-animation"> 
           <div class="row">
            <div class="col-md-6">
    <div class="main-card mb-3 card">
        <div class="card-header">Informations</div>
        <div class="card-body">
            <p><b>Nom :</b> {{etudiant.nom}}</p>
            <p><b>Prenom :</b> {{etudiant.prenom}}</p>
            <p><b>Adresse :</b> {{ etudiant.adresse }}</p>
            <p><b>Téléphone :</b> {{etudiant.telephone}}</p>
            <p><b>Email :</b> {{etudiant.email}}</p>
       
        </div>
    
    </div>
    
</div>
                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Classes</h5>
                            <ul class="list-group list-group-flush">
                       
                             <a href="javascript:void(0);" class="list-group-item"> {{etudiant.classes.nom}} - {% for bloc in etudiant.classes.blocs %} {{bloc.nom}} {% endfor %}</a>
                           
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Absences</h5>
                            <ul class="list-group list-group-flush">
                        
                            
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Progression et résultat</h5>
                            <ul class="list-group list-group-flush">
                         
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    {{ block("Footer", "Menus/Footer.html.twig") }}
{% endblock %}
