{{ form_start(form) }}
  
   <div class="form-row">
        <div class="col-md-6">
        {{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom) }}
        </div>
   

    </div>
 

    <br>
    <button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button> ou <a href="{{ path('app_classes_index') }}">Retour à la liste</a>
  
{{ form_end(form) }}
