{% extends 'base.html.twig' %}

{% block title %}Intervenants{% endblock %}

{% block body %}
  {{ block("MenuTop", "Menus/MenuTop.html.twig") }}
   <div class="app-main">
    {{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}
    <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="lnr-users icon-gradient bg-strong-bliss"></i>
                                </div>
                                <div> {{ entreprise.nom }} 
                                    <div class="page-title-subheading" style="opacity: 1;">
                                 
                                     Créée Le {{ entreprise.createdAt ? entreprise.createdAt|date('Y-m-d H:i') : '' }} Par {{ entreprise.createdBy }}
                                    </div>
                                </div>
                            </div>
                           <div class="page-title-actions">
                        
                            <div class="d-inline-block dropdown">
                            <a href="{{ path('app_entreprises_index') }}">
                               <button  class="mb-2 mr-2 btn btn-shadow btn-outline-2x btn-outline-secondary">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-fw" aria-hidden="true" title="Copy to use arrow-circle-left"></i>
                                    </span>
                                    Retour à la liste
                                </button>
                                
                               </a>
                                 <a href="{{ path('app_entreprises_edit',{id:entreprise.id}) }}">
                                <button  class="mb-2 mr-2 btn-outline-2x btn btn-shadow-warning btn-outline-warning">
                                    <span class="btn-icon-wrapper pr-2 opacity-7">
                                        <i class="fa fa-fw" aria-hidden="true" title="Copy to use edit"></i>
                                    </span>
                                    Modifier
                                </button>
                                </a>
                                
                                {{ include('entreprises/_delete_form.html.twig') }}

                            </div>
                        </div>
                        </div>
                    </div>
               
           <div class="tabs-animation"> 
           <div class="row">
        <div class="col-md-6">
            <div class="main-card mb-3 card">
                <div class="card-header">Informations</div>
                <div class="card-body">
                    <p><b>Raison sociale :</b> {{entreprise.nom}}</p>
                    <p><b>Siret :</b> {{entreprise.siret}}</p>
                    <p><b>Adresse :</b> {{ entreprise.adresse }}</p>
                    <p><b>Téléphone :</b> {{entreprise.telephone}}</p>
                    <p><b>Email :</b> {{entreprise.email}}</p>
                
                </div>
            
            </div>
            
        </div>
               <div class="col-md-6">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Tuteurs</h5>
                            <ul class="list-group list-group-flush">

                            {% for tuteur in entreprise.tuteurs %}
                               <a href="{{path('app_tuteurs_show',{id:tuteur.id})}}"> {{tuteur.nom}} {{tuteur.prenom}} </a>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
          

         
                 <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">Etudiants</h5>
                            <ul class="list-group list-group-flush">

                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    {{ block("Footer", "Menus/Footer.html.twig") }}
{% endblock %}
