{% extends 'base.html.twig' %}

{% block title %}Progressions & Resultats
{% endblock %}

{% block body %}
	<style>
		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
		}
		.active,
		.accordion:hover {
			background-color: none;
		}
		.panel {
			padding: 0 18px;
			display: none;
			background: none;
			overflow: hidden;
		}
		.accordion {
			margin: 0;
			padding: 0;
			background: none;
		}
		.bloc {
			background-color: none;
			color: black;
			padding: 0;
		}
		.bloc:hover {
			background-color: none;
			color: black;
			padding: 0;
		}
		.module {
			background: none;
			color: black;
			padding-top: 8px;
		}
		.module:hover {
			background: none;
			color: black;
		}
		.chapitre {
			background-color: #7587a7;
			color: white;
		}
		.chapitre:hover {
			background-color: #7587a7;
			color: white;
		}
		b,
		strong {
			font-weight: 500;
		}
	</style>
	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}
	<div class="app-main">
		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="lnr-users icon-gradient bg-strong-bliss"></i>
							</div>
							<div>Progressions & resultats
								<div class="page-title-subheading">Informations</div>
							</div>
						</div>
						<div class="page-title-actions">
							{% if is_granted('ROLE_INTERVENANT', 'ROLE_ADMIN')  %}{% endif %}

						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="row">

						<div class="col-md-12">
							<div class="main-card mb-3 card">
								<div class="card-body">


									<table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
										<thead>
											<tr role="row">

												<th>Bloc / Modules</th>
												<th>Moyenne</th>
											</tr>
										</thead>
										<tbody>

											{% for note in notes %}
												<tr>


													<td>
														<button class="accordion bloc">
															<b>
																Bloc :
															</b>
															{{note.module.bloc.nom}}
															&ensp; &ensp; &ensp;


															<b>Coefficient :
															</b>
															{{note.module.bloc.coefficient}}
															<i class="pe-7s-plus"></i>
														</button>

														<div class="panel">

															{% for module in note.module.bloc.modules %}
																<button class="accordion module">
																	<b>
																		Module :
																	</b>
																	{{module.nom}}
																	&ensp; &ensp; &ensp;

																	<b>
																		Type :
																	</b>
																	{{note.type}}
																	&ensp; &ensp; &ensp;
																	<b>
																		Coefficient :
																	</b>
																	{{note.module.coefficient}}
																	&ensp; &ensp; &ensp;
																	<b>Note :
																	</b>
																	{{note.note}}/20

																</button>
															{% endfor %}


														</div>
													</td>
													<td>

														{{note.note}}/20


													</td>

												</tr>
											{% else %}
												<tr>
													<td colspan="7">Pas de notes</td>
												</tr>
											{% endfor %}

										</tbody>

									</table>
								</div>
							</div>
						</div>


					</div>


				</div>
			</div>
		</div>
		<script>
			var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function () {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
} else {
panel.style.display = "block";
}
});
}
		</script>
	{% endblock %}
