{% extends 'base.html.twig' %}

{% block title %}Progressions & Resultats
{% endblock %}

{% block body %}
	<style>
		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 15px;
			transition: 0.4s;
		}
		.active,
		.accordion:hover {
			background-color: #ccc;
		}
		.panel {
			padding: 0 18px;
			display: none;
			background-color: white;
			overflow: hidden;
		}
		.accordion {
			margin: 10px;
		}
		.bloc {
			background-color: #fff;
			color: black;
		}
		.bloc:hover {
			background-color: #274c8d;
			color: white;
		}
		.module {
			background-color: #fff;
			color: black;
		}
		.module:hover {
			background-color: #4f70ad;
			color: white;
		}
		.chapitre {
			background-color: #7587a7;
			color: white;
		}
		.chapitre:hover {
			background-color: #7587a7;
			color: white;
		}
	</style>
	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}
	<div class="app-main">
		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="lnr-users icon-gradient bg-strong-bliss"></i>
							</div>
							<div>Progressions & resultats
								<div class="page-title-subheading">Informations</div>
							</div>
						</div>
						<div class="page-title-actions">
							{% if is_granted('ROLE_INTERVENANT', 'ROLE_ADMIN')  %}{% endif %}

						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="row">

						<div class="col-md-12">
							<div class="main-card mb-3 card">
								<div class="card-body">
									{% for note in notes %}
										<div class="col-md-3">
											{{note.moduleid}}
										</div>

										<div class="col-md-3">
											{{note.type}}
										</div>

										<div class="col-md-3">
											{{note.note}}
										</div>


									{% endfor %}

								</div>
							</div>
						</div>


					</div>


				</div>
			</div>

		</div>
		<script>
			var acc = document.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function () {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
} else {
panel.style.display = "block";
}
});
}
		</script>
	{% endblock %}
