{{ form_start(form) }}

<div class="form-row">
	<div class="col-md-5">
		{{ form_row(form.nom,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.nom) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.classes,{'attr': {'class': 'form-control meetup_classe'}}) }}
		{{ form_errors(form.classes) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.bloc,{'attr': {'class': 'form-control meetup_bloc'}}) }}
		{{ form_errors(form.bloc) }}
	</div>


</div>


<br>
<button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
ou
<a href="{{ path('app_modules_index') }}">Retour à la liste</a>

{{ form_end(form) }}

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/css/tom-select.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/js/tom-select.complete.min.js"></script>

<script>
	var settings = {};
new TomSelect('#modules_classes', settings);
new TomSelect('#modules_bloc', settings);
</script>
