{{ form_start(form) }}

<div class="form-row">
	<div class="col-md-3">
		{{ form_row(form.titre,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.titre) }}
	</div>
	<div class="col-md-3">

		{{ form_row(form.start,{'attr': {'class': ''}}) }}
		{{ form_errors(form.start) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.end,{'attr': {'class': ''}}) }}
		{{ form_errors(form.end) }}
	</div>

</div>
<br>
<div class="form-row">

	<div class="col-md-3">
		{{ form_row(form.classe,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.classe) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.bloc,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.bloc) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.module,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.module) }}
	</div>
	<div class="col-md-3">
		{{ form_row(form.intervenant,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.intervenant) }}
	</div>
</div>

<br>
<div class="form-row">
	<div class="col-md-6">
		{{ form_row(form.description,{'attr': {'class': 'form-control'}}) }}
		{{ form_errors(form.description) }}
	</div>
</div>
<br>


<br>
<button class="mt-1 btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
ou
<a href="{{ path('app_etudiants_index') }}">Retour à la liste</a>

{{ form_end(form) }}
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/css/tom-select.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.3/dist/js/tom-select.complete.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
	var settings = {};
new TomSelect('#calendrier_classe', settings);
new TomSelect('#calendrier_bloc', settings);
new TomSelect('#calendrier_module', settings);
new TomSelect('#calendrier_intervenant', settings);
</script>
