{% extends 'base.html.twig' %}

{% block title %}Absences
{% endblock %}

{% block body %}

	{{ block("MenuTop", "Menus/MenuTop.html.twig") }}
	<div class="app-main">
		{{ block("MenuLeft", "Menus/MenuLeft.html.twig") }}


		<div class="app-main__outer">
			<div class="app-main__inner">
				<div class="app-page-title">
					<div class="page-title-wrapper">
						<div class="page-title-heading">
							<div class="page-title-icon">
								<i class="lnr-users icon-gradient bg-strong-bliss"></i>
							</div>
							<div>Absences
								<div class="page-title-subheading">Gestion des absences</div>
							</div>
						</div>
						<div class="page-title-actions">

							<div class="d-inline-block dropdown">
								<a href="{{ path('app_absences_new') }}">
									<button class="btn-shadow btn btn-success">
										<span class="btn-icon-wrapper pr-2 opacity-7">
											<i class="fa fa-plus fa-w-20"></i>
										</span>
										Ajouter une absence
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="tabs-animation">
					<div class="main-card mb-3 card">
						<div class="card-body">
							<div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">

								<div class="row">
									<div class="col-sm-12">
										<table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
											<thead>
												<tr role="row">

													<th>Apprenant</th>
													<th>Date</th>
													<th>Module</th>
													<th>Durée</th>
													<th>actions</th>

												</tr>
											</thead>
											<tbody>

												{% for absence in absences %}
													<tr>
														<td>{{ absence.username }}</td>
														<td>{{ absence.date ? absence.date|date('Y-m-d H:i:s') : '' }}</td>
														<td>{{ absence.module.nom }}</td>

														<td>
															{% for horaire in absence.module.calendriers %}
																{% if loop.last %}
																	{{horaire.start|date('H:i') }}
																{% endif %}
															{% endfor %}
														</td>
													</tr>
												</td>

												<td>
													<a href="{{ path('app_absences_show', {'id': absence.id}) }}">show</a>
													<a href="{{ path('app_absences_edit', {'id': absence.id}) }}">edit</a>
												</td>
											</tbody>
										</tr>
									{% else %}
										<tr>
											<td colspan="7">no records found</td>
										</tr>
									{% endfor %}

								</tbody>

							</table>
						</div>
					</div>


				</div>
			</div>
		</div>


	</div>
</div></div>{% endblock %}
